<h2 *ngIf="displayName; then thenBlock; else elseBlock">
    Testing ngif 
</h2>
<ng-template #elseBlock>
    <h2>
        Hidden Name
    </h2>
</ng-template>
<ng-template #thenBlock>
    <h2>
        Show Name
    </h2>
</ng-template>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">output RED</div>
    <div *ngSwitchCase="'blue'">output BLUE</div>
    <div *ngSwitchDefault>Pick Again</div>
</div>

<div *ngFor="let employee of employees" class="list-group">
    <h1 class="list-group-item">{{employee.name}} is my name</h1>
    <h1 class="list-group-item">{{employee.age}} is my age</h1>
    <h1 class="list-group-item">{{employee.id}} is my id</h1>
</div>
